/* FONTS */
/* COLORS */
.logo {
  width: 60px;
  position: relative;
  left: 50px; }

.navbar .nav-link {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #000 !important;
  font: 300 1rem Gotham, sans-serif; }

.navbar .nav-item .nav-link {
  padding-right: 100px !important;
  display: block;
  padding: 0 10px;
  line-height: 29px;
  color: #ccc;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }

.active-link {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 5px;
  width: 100%; }
  .active-link .element {
    width: 30px;
    width: 20px;
    height: 5px;
    background-color: #000; }

.navbar-nav__sub {
  width: auto;
  height: auto;
  padding: 10px;
  position: absolute;
  background: #fff;
  display: none;
  list-style-type: none; }

.navbar .nav-item .nav-link:hover {
  color: green !important; }

.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1000;
  background-color: #fff; }
  .sidebar-right__icons {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px; }
  .sidebar-right__icon {
    margin-top: 10px; }

/*================= NAV Table =================*/
.nav-table {
  font: 300 0.8rem/5px Gotham, sans-serif;
  left: 0; }
  .nav-table a {
    text-decoration: none;
    color: #000; }
  .nav-table__td--item {
    list-style-type: none; }
  .nav-table__td--title {
    min-width: 250px;
    word-wrap: break-word; }

/*================= MOBILE =================*/
.mobile-nav {
  height: 100%;
  padding-left: 5px;
  font: 300 1rem Gotham, sans-serif;
  text-transform: uppercase; }
  .mobile-nav__contact {
    display: flex; }
    .mobile-nav__contact span {
      margin-left: 10px; }
  .mobile-nav__icons {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px; }
    .mobile-nav__icons__icon {
      margin-top: 10px; }

ul {
  bottom: 0 !important;
  list-style: none;
  padding: 0; }
  ul a {
    list-style: none;
    color: #000; }
  ul .inner {
    padding-left: 15px;
    overflow: hidden;
    display: none; }
    ul .inner.show {
      /*display: block;*/ }
      ul .inner.show a {
        display: flex;
        color: #000; }
  ul li {
    margin: 1em 0; }
    ul li .inner li .inner a {
      padding: 0.3em 0 !important;
      text-decoration: none; }
    ul li a.toggle {
      text-decoration: none;
      width: 100%;
      display: block;
      background: #fff;
      color: #000;
      border-radius: 0.15em;
      transition: background .3s ease; }

.navbar-toggler {
  border: none !important;
  outline: none !important; }
  .navbar-toggler .close {
    display: inline;
    color: #000; }

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none; }

/* MEDIA SCREENS */
@media only screen and (max-width: 991px) {
  .logo {
    width: 60px;
    position: relative;
    left: 0; }
  .sidebar-right {
    display: none; }
  .desktop-nav {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .navbar .mobile-nav {
    display: none !important; } }

/*TESTING*/
.border-bottom {
  border-bottom: 1px solid #d4d4d4 !important; }
