.logo {
  width: 60px;
  position: relative;
  left: 50px;
}

.navbar .nav-link {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #000 !important;
  font: $nav-font-prop;
}

.navbar .nav-item .nav-link {
  padding-right: 100px !important;
  display: block;
  padding: 0 10px;
  line-height: 29px;
  color: #ccc;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}


.navbar-nav__sub {
  width: auto;
  height: auto;
  padding: 10px;
  position: absolute;
  background: #fff;
  display: none;
  list-style-type: none;

}

.navbar .nav-item .nav-link:hover {
  color: green !important;
}

.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1000;
  background-color: #fff;

  &__icons {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }

  &__icon {
    margin-top: 10px;
  }

}

/*================= NAV Table =================*/

.table > tbody > tr:first-child > td,
.table > tbody > tr:nth-child(3) > td {
  border:none;
}



.nav-table {
  font: $nav-sub-font-prop;

  tbody tr td ul li a {
    color: red;
  }

  a {
    text-decoration: none;
    color: #000;

  }


  &__contact {
    display: flex;
    align-items: center;

    &--logo {
      justify-content: left;
      width: 60px;
    }

    span {
      margin-left: 10px;
    }
  }

  &__td {

    &--item {
      list-style-type: none;

    }

    &--title {
      min-width: 250px;
      word-wrap: break-word;
    }
  }

}



/*================= MOBILE =================*/
.mobile-nav {
  height: 100%;
  padding-left: 5px;
  font: $nav-font-prop;
  text-transform: uppercase;


  &__contact {
    display: flex;

    span {
      margin-left: 10px;
    }
  }

  &__icons {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

    &__icon {
      margin-top: 10px;
    }

  }

}

ul {
  bottom: 0 !important;
  list-style: none;
  padding: 0;

  a {
    list-style: none;
    color: #000;
  }

  .inner {
    padding-left: 15px;
    overflow: hidden;
    display: none;


    &.show {

      /*display: block;*/
      a {
        display: flex;
        color: #000;
      }

    }
  }


  li {
    margin: 1em 0;

    .inner li .inner a {
      padding: 0.3em 0 !important;
      text-decoration: none;
    }

    a.toggle {
      text-decoration: none;
      width: 100%;
      display: block;
      background: #fff;
      color: #000;
      border-radius: 0.15em;
      transition: background .3s ease;
    }
  }
}

.navbar-toggler {
  border: none !important;
  outline: none !important;

  .close {
    display: inline;
    color: #000;

  }
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;

}

/* MEDIA SCREENS */

@media only screen and (max-width: 991px) {

  .logo {
    width: 60px;
    position: relative;
    left: 0;
  }

  .sidebar-right {
    display: none;
  }

  .desktop-nav {
    display: none !important;
  }

}

@media only screen and (min-width: 992px) {

  .navbar .mobile-nav {
    display: none !important;
  }
}

/*TESTING*/