/* FONTS */

$primary-font: Gotham,
sans-serif; // Primary font

$nav-font-prop: 300 1rem $primary-font; // Font style for navbar (mobile and desktop)
$nav-sub-font-prop: 300 0.8rem/5px $primary-font;
/* COLORS */
$color-grey-light: #d4d4d4; // Borders, some icons etc.